* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  margin: 10px 20px;
  width: 50%;
}

.copyright {
  margin: 10px 20px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.toolbox {
  position: fixed;
  margin: 10px 20px;
  top: 0;
  right: 0;
}

.disabled {
  display: none;
}
