html, body {
  background-image: url(../img/bg.jpg);
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

.viewpoint {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.screenful {
  position: absolute;
  width: 100%;
  height: 100%;
}

.in.fade {
  opacity: 0;
}
