html, body {
  background-image: url(../img/bg.jpg);
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

.viewpoint {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.screenful {
  position: absolute;
  width: 100%;
  height: 100%;
}

.in0-fade,
.in1-fade,.in2-fade,.in3-fade,
.in4-fade,.in5-fade,.in6-fade,
.in7-fade,.in8-fade,.in9-fade {
  opacity: 0;
}
