{% load staticfiles %}
{% load i18n %}
{% load compress %}
{% load markdown_deux_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>School CTF Spring 2015</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/common.less" %}" type="text/less"/>
    <link rel="stylesheet" href="{% static "css/menu.less" %}" type="text/less"/>
    {% endcompress %}
    {% compress js %}
    <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "js/ajax_csrf.js" %}"></script>
    <script src="{% static "js/ws4redis.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/velocity.min.js" %}"></script>
    <script src="{% static "js/velocity.ui.min.js" %}"></script>
    <script src="{% static "js/forms.js" %}"></script>
    <script src="{% static "js/monads.js" %}"></script>
    <script src="{% static "js/animation.js" %}"></script>
    <script src="{% static "js/teams.js" %}"></script>
    <script src="{% static "js/tasks.js" %}"></script>
    {% endcompress %}
  </head>
  <body>
    <div class="menu">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="menu-button active" data-target="#home">
              <span class="visible-md-inline visible-lg-inline">{% trans "Home" context "menu bar" %}</span>
              <span class="glyphicon glyphicon-home visible-xs-inline visible-sm-inline"></span>
            </div>
            <div class="menu-button" data-target="#reg">
              <span class="visible-md-inline visible-lg-inline">{% trans "Registration" %}</span>
              <span class="glyphicon glyphicon-user visible-xs-inline visible-sm-inline"></span>
            </div>
            <div class="menu-button" data-target="#teams">
              <span class="visible-md-inline visible-lg-inline">{% trans "Teams" %}</span>
              <span class="glyphicon glyphicon-list visible-xs-inline visible-sm-inline"></span>
            </div>
            <div class="menu-button" data-target="#tasks">
              <span class="visible-md-inline visible-lg-inline">{% trans "Tasks" %}</span>
              <span class="glyphicon glyphicon-file visible-xs-inline visible-sm-inline"></span>
            </div>
            <div class="menu-button" data-target="#rating">
              <span class="visible-md-inline visible-lg-inline">{% trans "Rating" %}</span>
              <span class="glyphicon glyphicon-stats visible-xs-inline visible-sm-inline"></span>
            </div>
            <div id="login-menu-btn" class="menu-button pull-right">
              <span class="visible-md-inline visible-lg-inline">{% trans "Login" context "menu bar" %}</span>
              <span class="glyphicon glyphicon-log-in visible-xs-inline visible-sm-inline"></span>
            </div>
            <div id="logout-menu-btn" class="menu-button pull-right disabled">
              <span id="username-menu-bar"></span><span class="visible-md-inline visible-lg-inline">{% trans "Logout" context "menu bar" %}</span>
              <span class="glyphicon glyphicon-log-out visible-xs-inline visible-sm-inline"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-after"></div>
    <div class="copyright">
      &copy; 2010&ndash;2015, <a href="http://sibears.ru">SiBears</a>
    </div>
    <div class="viewpoint">

      <div id="home" class="screenful">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              {{ game.get_desc | markdown }}
            </div>
          </div>
        </div>
      </div>

      <div id="reg" class="screenful">
        <div class="container">
          <div class="row">
            <div class="col-md-6">

              <div role="tabpanel" class="in1-fade in9-bounce">

                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#teamRegForm" aria-controls="teamRegForm" role="tab" data-toggle="tab">{% trans "Team" %}</a>
                  </li>
                  <li role="presentation">
                    <a href="#participantRegForm" aria-controls="participantRegForm" role="tab" data-toggle="tab">{% trans "Participant" %}</a>
                  </li>
                </ul>

                <div class="well">

                  <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="teamRegForm">

                      {% if not member %}
                      <form id="regTeamForm" role="form">
                        <div class="form-group">
                          <input name="name" type="text" class="form-control" placeholder="{% trans "Team Name" %}"/>
                        </div>

                        {% if game.is_school %}
                        <div class="checkbox">
                          <label>
                            <input name="is_school" type="checkbox"/> {% trans "Participants are school pupils" %}
                          </label>
                        </div>
                        {% endif %}

                        <div class="form-group">
                          <select name="country" class="form-control">
                            <option disabled selected>{% trans "Country" %}<option>
                            <option value="">{% trans "I don't want to provide this information" %}</option>
                            {% for code, name in countries %}
                            <option value="{{ code }}">{{ name }}</option>
                            {% endfor %}
                          </select>
                        </div>

                        {% if game.is_school %}
                        <div class="form-group">
                          <input name="school_name" type="text" class="form-control" placeholder="{% trans "School Name" %}"/>
                        </div>
                        <div class="form-group">
                          <input name="teacher_name" type="text" class="form-control" placeholder="{% trans "Teacher Name" %}"/>
                        </div>
                        {% if game.send_emails %}
                        <div class="form-group">
                          <input name="teacher_email" type="email" class="form-control" placeholder="{% trans "Teacher's E-Mail" %}"/>
                        </div>
                        {% endif %}
                        {% endif %}

                        {% if game.send_emails %}
                        <div class="form-group">
                          <input name="leader_email" type="email" class="form-control" placeholder="{% trans "Team Leader's E-Mail" %}"/>
                        </div>
                        {% endif %}

                        {% if game.is_school %}
                        <div class="form-group">
                          <textarea name="address" class="form-control" rows="3" placeholder="{% trans "Physical Mail Address for Certificates" %}"></textarea>
                        </div>
                        {% endif %}

                        <button id="regTeamSubmitBtn" type="submit" class="btn btn-primary btn-lg">{% trans "Register Team" %}</button>
                      </form>
                      <div id="afterTeamRegMsg" class="in0-fade overlapping">
                        {% if game.is_school %}
                        <p>{% trans "You've successfully registered a team. An authentication string has been sent to the team leader's email and the teacher's email (if any). You should pass this string to the participants you want to register as your team members. Note that team leader should also register as a team member." %}</p>
                        {% else %}
                        <p>{% trans "You've successfully registered a team. Here is the authentication string:" %}</p>
                        <p><strong><span id="teamAuthString"></span></strong></p>
                        <p>{% trans "You should pass this string to the participants you want to register as your team members. Note that the leader should also register as a team member." %}</p>
                        {% endif %}
                      </div>
                      {% else %}
                      <div id="afterTeamRegMsg" class="in0-fade">
                        <p>{% trans "You've successfully registered a team. Here is the authentication string:" %}</p>
                        <p><strong>{{ member.team.auth_string }}</strong></p>
                        <p>{% trans "You should pass this string to the participants you want to register as your team members. Note that the leader should also register as a team member." %}</p>
                      </div>
                      {% endif %}

                    </div>

                    <div role="tabpanel" class="tab-pane" id="participantRegForm">

                      {% if game.send_emails or not request.user.is_authenticated %}
                      <form id="regParticipantForm" role="form">
                        <div class="form-group">
                          <input name="username" type="text" class="form-control" placeholder="{% trans "Login" %}"/>
                        </div>
                        <div class="form-group">
                          <input name="password1" type="password" class="form-control" placeholder="{% trans "Password" %}"/>
                        </div>
                        <div class="form-group">
                          <input name="password2" type="password" class="form-control" placeholder="{% trans "Password Again" %}"/>
                        </div>
                        <div class="form-group">
                          <input name="first_name" type="text" class="form-control" placeholder="{% trans "Full Name" %}"/>
                        </div>
                        <div class="form-group">
                          <input name="team" type="text" class="form-control" placeholder="{% trans "Authentication String (ask your team leader)" %}"/>
                        </div>
                        <button id="regParticipantSubmitBtn" type="submit" class="btn btn-primary btn-lg">{% trans "Register Participant" %}</button>
                      </form>
                      <div id="afterParticipantRegMsg" class="in0-fade overlapping">
                        {% if game.is_school %}
                        <p>{% trans "You are successfully registered as a School CTF Spring 2015 participant! Your team leader and teacher (if any) have been notified. Please, don't forget your password. See you later at the competition." %}
                        {% else %}
                        <p>{% trans "You are successfully registered as a School CTF Spring 2015 participant! Your team leader have been notified. Please, don't forget your password. See you later at the competition." %}
                        {% endif %}
                      </div>
                      {% else %}
                      <div id="afterParticipantRegMsg" class="in0-fade">
                      </div>
                        {% if game.is_school %}
                        <p>{% trans "You are successfully registered as a School CTF Spring 2015 participant! Your team leader and teacher (if any) have been notified. Please, don't forget your password. See you later at the competition." %}
                        {% else %}
                        <p>{% trans "You are successfully registered as a School CTF Spring 2015 participant! Your team leader have been notified. Please, don't forget your password. See you later at the competition." %}
                        {% endif %}
                      {% endif %}

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>
      </div>

      <div id="teams" class="screenful">
        <div class="container">
          <div class="row">

            <div class="col-md-6">
              <h3 class="in1-fade">{% trans "School Teams" context "teams list" %}</h3>
              <table id="school-teams" class="table table-condensed in1-fade">
                <thead>
                  <tr>
                    <th>{% trans "Name" context "teams list" %}</th>
                    <th>{% trans "Country" context "teams list" %}</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>

            <div class="col-md-6">
              <h3 class="in2-fade">{% trans "Non-School Teams" context "teams list" %}</h3>
              <table id="non-school-teams" class="table table-condensed in2-fade">
                <thead>
                  <tr>
                    <th>{% trans "Name" context "teams list"  %}</th>
                    <th>{% trans "Country" context "teams list" %}</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

      <div id="tasks" class="screenful">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h3>{% trans "Task List" %}</h3>
              <div id="task-list"></div>
              <p>{% blocktrans %}<span class="bg-success">Green</span> marks the tasks that your team has successfully solved.{% endblocktrans %}</p>
              <p>{% blocktrans %}<span class="bg-info">Blue</span> marks the last available task in a category. It is either the task that nobody has solved yet or the very last task in the category.{% endblocktrans %}</p>
            </div>
            <div class="col-md-5">
              <div id="task-panel"></div>
            </div>
            <div class="col-md-4">
              <h3>{% trans "Hints" %}</h3>
              <p>{% blocktrans %}You man ask jury a queston via <a href="mailto:jury@school-ctf.org">email</a>, <a href="https://twitter.com/schoolctf">Twitter</a>, or <a href="http://vk.com/schoolctf2015">VK</a>.{% endblocktrans %}</p>
              <a class="twitter-timeline" href="https://twitter.com/schoolctf" data-widget-id="594658587655409664">Tweets by @schoolctf</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </div>
        </div>
      </div>

      <div id="rating" class="screenful">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>{% blocktrans %}Final standings could be found <a href="/files/school_ctf_spring_2015_a34eb1dd3a80a2f4036edbffebf464f52217a67b.png">here</a>.{% endblocktrans %}</p>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6">
              <h3 class="in1-fade">{% trans "School Teams" context "teams list" %}</h3>
              <table id="school-teams-rating" class="table table-condensed in1-fade">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{% trans "Name" context "teams list" %}</th>
                    <th>{% trans "Country" context "teams list" %}</th>
                    <th>{% trans "Score" context "teams list" %}</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>

            <div class="col-md-6">
              <h3 class="in2-fade">{% trans "Non-School Teams" context "teams list" %}</h3>
              <table id="non-school-teams-rating" class="table table-condensed in2-fade">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{% trans "Name" context "teams list"  %}</th>
                    <th>{% trans "Country" context "teams list" %}</th>
                    <th>{% trans "Score" context "teams list" %}</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div id="modal-login" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans "Please, authenticate" %}</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form id="login-form" role="form">
                <div class="form-gorup">
                  <input type="text" name="username" class="form-control" placeholder="{% trans "Username" context "login modal" %}"/>
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="{% trans "Password" context "login modal" %}"/>
                </div>
                <button id="login-btn" type="button" class="btn btn-primary">{% trans "Login" context "login modal" %}</button>
              </form>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% compress js %}
    <script>
    $(document).ready(function () {

        var fetchRatingCounter = 0;
        var fetchRating = function () {
          ++fetchRatingCounter;
          $('#school-teams-rating').find('tbody').children().remove();
          $('#non-school-teams-rating').find('tbody').children().remove();
          $.ajax({
            method: 'GET',
            url: '{% url "api-rating" %}',
            dataType: 'json',
            success: function (data, stat, xhr) {
              --fetchRatingCounter;
              if (fetchRatingCounter != 0) {
                return;
              }
              var teams = JSON.parse(xhr.responseText);
              var schoolTeams = [];
              var nonSchoolTeams = []
              teams.forEach(function (team) {
                if (team.is_school) {
                  schoolTeams.push(team);
                } else {
                  nonSchoolTeams.push(team);
                }
              });
              var cmpTeams = function (a, b) { return b.score - a.score; };
              schoolTeams.sort(cmpTeams);
              nonSchoolTeams.sort(cmpTeams);
              var placeTeams = function (teams) {
                if (teams.length == 0) {
                  return;
                }
                teams[0].place = 1;
                for (var i = 1; i < teams.length; ++i) {
                  if (teams[i].score == teams[i - 1].score) {
                    teams[i].place = teams[i - 1].place;
                  } else {
                    teams[i].place = i + 1;
                  }
                }
              }
              placeTeams(schoolTeams);
              placeTeams(nonSchoolTeams);
              var fillRating = function ($root, teams) {
                teams.forEach(function (team) {
                    var $row = $('<tr>');
                    $row.append($('<td>').text(team.place));
                    $row.append($('<td>').text(team.team_name));
                    if (team.team_flag) {
                      $row.append($('<td>').append(
                          $('<img>').attr('src', team.team_flag).attr('title', team.country)
                      ));
                    } else {
                      $row.append($('<td>').text('N/A'));
                    }
                    $row.append($('<td>').text(team.score));
                    $root.append($row);
                  });
                };
                fillRating($('#school-teams-rating').find('tbody'), schoolTeams);
                fillRating($('#non-school-teams-rating').find('tbody'), nonSchoolTeams);
            }
          });
        };
        window.fetchRating = fetchRating;


        // receive a message though the websocket from the server
        function receiveMessage(msg) {
          if (msg == 'tasks') {
            fetchTasks();
            fetchRating();
          }
        }

        var ws4redis = WS4Redis({
            uri: '{{ WEBSOCKET_URI }}tasks?subscribe-broadcast',
            receive_message: receiveMessage,
            heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
        });


        var refreshMe = function () {
          var showLoggedIn = function (username, team) {
            $('#login-menu-btn').addClass('disabled');
            $('#logout-menu-btn').removeClass('disabled');
            var text = username;
            if (team) {
              text += ' | ' + team;
            }
            text += ' | ';
            $('#username-menu-bar').text(text);
          };
          var showLoggedOut = function () {
            $('#logout-menu-btn').addClass('disabled');
            $('#login-menu-btn').removeClass('disabled');
            $('#username-menu-bar').text('');
          };
          $.ajax({
            method: 'GET',
            url: '{% url "me" %}',
            dataType: 'json',
            success: function (data, stat, xhr) {
              var resp = JSON.parse(xhr.responseText);
              if ('username' in resp) {
                showLoggedIn(resp['username'], resp['team']);
              } else {
                showLoggedOut();
              }
            },
            error: function (xhr) {
              showLoggedOut();
            }
          });
        };
        window.refreshMe = refreshMe;
        refreshMe();

        task_submit_url = '{% url "api-flag" %}';
        var animation = new SlrAnimation('#home');
        animation.animateIn($('#home'));
        animation.putGeo('#reg', -1, 0);
        $('#reg').css({left: $(window).width(), top: 0});
        animation.putGeo('#teams', -2, 0);
        $('#teams').css({left: $(window).width() * 2, top: 0});
        animation.putGeo('#tasks', -3, 0);
        $('#tasks').css({left: $(window).width() * 3, top: 0});
        animation.putGeo('#rating', -4, 0);
        $('#rating').css({left: $(window).width() * 4, top: 0});

        var moveToScreenful = function (target) {
          if (target) {
            animation.moveTo(target).then(function () {
              for (var i = 1; i <= 9; ++i) {
                $(target).find('.in'+i+'-fade').removeClass('in'+i+'-fade');
              }
            });
            $('.menu-button').removeClass('active');
            location.href = target+'-ref';
          }
        };

        if (location.href && location.href.indexOf('-ref', location.href.length - 4) !== -1) {
          var target = location.href.substring(0, location.href.length - 4);
          var target_ar = target.split('/');
          target = target_ar.pop()
          console.log(target);
          moveToScreenful(target);
        }

        $('.menu-button').click(function () {
            var target = $(this).data('target');
            moveToScreenful(target);
            $(this).addClass('active');
        });


        var regTeamForm = new Form('#regTeamForm');

        $('#regTeamSubmitBtn').click(function (e) {
          e.preventDefault();
          $.ajax({
            method: 'POST',
            url: '{% url "teams" %}',
            dataType: 'json',
            data: regTeamForm.getJson(),
            success: function (data, status, xhr) {
              regTeamForm.hideErrors();
              animation.fadeElementOut('#regTeamForm').then(function () {
                $('#afterTeamRegMsg').css('display', 'inline-block');
                $('#teamAuthString').text(data['auth_string']);
                animation.fadeElementIn('#afterTeamRegMsg');
              });
            },
            error: function (xhr, stat, err) {
              regTeamForm.showErrors(JSON.parse(xhr.responseText));
            }
          });
        });


        var regParticipantForm = new Form('#regParticipantForm');
        regParticipantForm.getJson = function () {
          var json = Form.prototype.getJson.call(this);
          json['user'] = {};
          ['username', 'password1', 'password2', 'first_name'].forEach(
              function (fieldName) {
                if (fieldName in json) {
                  json['user'][fieldName] = json[fieldName];
                  delete json[fieldName];
                }
              }
          );
          return json;
        };

        $('#regParticipantSubmitBtn').click(function (e) {
          e.preventDefault();
          $.ajax({
            method: 'POST',
            url: '{% url "members" %}',
            dataType: 'json',
            contentType: 'application/json',
            data: regParticipantForm.getJsonString(),
            success: function () {
              regParticipantForm.hideErrors();
              animation.fadeElementOut('#regParticipantForm').then(function () {
                $('#afterParticipantRegMsg').css('display', 'inline-block');
                animation.fadeElementIn('#afterParticipantRegMsg');
              });
            },
            error: function (xhr, stat, err) {
              var errObj = JSON.parse(xhr.responseText);
              var userObj = errObj['user'];
              delete errObj['user'];
              for (var key in userObj) {
                errObj[key] = userObj[key];
              }
              regParticipantForm.showErrors(errObj);
            },
          });
        });

        $.ajax({
          method: 'GET',
          url: '{% url "teams" %}',
          dataType: 'json',
          contentType: 'application/json',
          success: function (data, stat, xhr) {
            var teams = JSON.parse(xhr.responseText);
            teams.sort(function (a, b) { return a.created_at - b.created_at; });
            var schoolTeams = new Array();
            var nonSchoolTeams = new Array();
            teams.forEach(function (team) {
              if (team.is_school) {
                schoolTeams.push(team);
              } else {
                nonSchoolTeams.push(team);
              }
            });
            populateTable($('#school-teams').find('tbody'), schoolTeams);
            populateTable($('#non-school-teams').find('tbody'), nonSchoolTeams);
          },
          error: function () { console.log('fail'); },
        });

        setTaskPanel($('#task-panel'));
        var fetchTasks = function () {
          updateTaskList(
              '{% url "api-tasks" %}',
              '{% url "api-tasks-solved" %}',
              $('#task-list')
          );
        };
        window.fetchTasks = fetchTasks;
        fetchTasks();
        fetchRating();

        $('#login-menu-btn').click(function () {
          $('#modal-login').modal();
        });

        $('#login-btn').click(function () {
            var loginForm = new Form('#login-form');
            $.ajax({
              method: 'POST',
              url: '{% url "rest_login" %}',
              data: loginForm.getJson(),
              success: function (data, stat, xhr) {
                var resp = JSON.parse(xhr.responseText);
                loginForm.hideErrors();
                loginForm.clearFields();
                refreshCsrfToken();
                refreshMe();
                fetchTasks();
                $('#modal-login').modal('hide');
              },
              error: function (xhr) {
                var errors = JSON.parse(xhr.responseText);
                loginForm.showErrors(errors);
                refreshMe();
                fetchTasks();
              }
            });
        });

        $('#logout-menu-btn').click(function () {
            $.ajax({
              method: 'POST',
              url: '{% url "rest_logout" %}',
              success: function (data, stat, xhr) {
                refreshMe();
                fetchTasks();
              },
              error: function (xhr) {
                refreshMe();
                fetchTasks();
              }
            });
        });

      });

    </script>
    {% endcompress %}
  </body>
</html>
