{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>School CTF 2014</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/common.css" %}"/>
    <link rel="stylesheet" href="{% static "css/menu.css" %}"/>
    <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/monads.js" %}"></script>
    <script src="{% static "js/animation.js" %}"></script>
  </head>
  <body>
    <div class="menu visible-md-inline visible-lg-inline">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="menu-button active">Home</div>
            <div class="menu-button">My Team</div>
            <div class="menu-button">News</div>
            <div class="menu-button">Registration</div>
            <div class="menu-button">Standings</div>
            <div class="menu-button">History</div>
            <div class="menu-button">About</div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu visible-xs-inline visible-sm-inline">
      <div class="container">
        <div class="menu-button"><span class="glyphicon glyphicon-menu-hamburger"></span> Menu</div>
      </div>
    </div>
    <div class="menu-after"></div>
    <div class="viewpoint">

      <div id="home" class="screenful">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <!-- start slipsum code -->

              <h3 class="in ord2 fade">I'm serious as a heart attack</h3>
              <p class="in ord2 fade">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? </p>

              <h3 class="in ord3 fade">Are you ready for the truth?</h3>
              <p class="in ord3 fade">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.  </p>

              <h3 class="in ord4 fade">Uuummmm, this is a tasty burger!</h3>
              <p class="in ord4 fade">Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>

              <!-- please do not remove this line -->

              <div style="display:none;">
                <a href="http://slipsum.com">lorem ipsum</a></div>

              <!-- end slipsum code -->
            </div>
            <div class="col-md-4">
              <div class="in ord1 fade">
                <img class="visible-xs-inline" src="{% static "img/bear-xs.png" %}"/>
                <img class="visible-sm-inline" src="{% static "img/bear-sm.png" %}"/>
                <img class="visible-md-inline" src="{% static "img/bear-md.png" %}"/>
                <img class="visible-lg-inline" src="{% static "img/bear-lg.png" %}"/>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script>
    $(document).ready(function () {
        var animation = new SlrAnimation();
        animation.animateIn($('#home'));
    });
    </script>
  </body>
</html>
