{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>School CTF 2014</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/common.css" %}"/>
    <link rel="stylesheet" href="{% static "css/menu.css" %}"/>
    <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/monads.js" %}"></script>
    <script src="{% static "js/animation.js" %}"></script>
  </head>
  <body>
    <div class="menu visible-md-inline visible-lg-inline">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="menu-button active" data-target="#home">Home</div>
            <div class="menu-button" data-target="#reg">Registration</div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu visible-xs-inline visible-sm-inline">
      <div class="container">
        <div class="menu-button"><span class="glyphicon glyphicon-menu-hamburger"></span> Menu</div>
      </div>
    </div>
    <div class="menu-after"></div>
    <div class="viewpoint">

      <div id="home" class="screenful">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <!-- start slipsum code -->

              <h3 class="in2-fade out1-fade">I'm serious as a heart attack</h3>
              <p class="in2-fade out1-fade">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? </p>

              <h3 class="in3-fade out1-fade">Are you ready for the truth?</h3>
              <p class="in3-fade out1-fade">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.  </p>

              <h3 class="in4-fade out1-fade">Uuummmm, this is a tasty burger!</h3>
              <p class="in4-fade out1-fade">Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>

              <!-- please do not remove this line -->

              <div style="display:none;">
                <a href="http://slipsum.com">lorem ipsum</a></div>

              <!-- end slipsum code -->
            </div>
            <div class="col-md-4">
              <div class="in1-fade">
                <img class="visible-xs-inline" src="{% static "img/bear-xs.png" %}"/>
                <img class="visible-sm-inline" src="{% static "img/bear-sm.png" %}"/>
                <img class="visible-md-inline" src="{% static "img/bear-md.png" %}"/>
                <img class="visible-lg-inline" src="{% static "img/bear-lg.png" %}"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="reg" class="screenful">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3 class="in2-fade out1-fade">Registration Form</h3>
              <form role="form" class="in2-fade out1-fade">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Team Name"/>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"/> Participants are school pupils
                  </label>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Country"/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="School Name"/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Teacher Name"/>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Teacher's E-Mail"/>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Team Leader's E-Mail"/>
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="3" placeholder="Physical Mail Address for Certificates"></textarea>
                </div>
                <button id="regSubmitBtn" type="submit" class="btn btn-primary btn-lg">Register Team</button>
              </form>
            </div>
            <div class="col-md-4">
              <div class="in1-fade">
                <img class="visible-xs-inline" src="{% static "img/bear-reg-xs.png" %}"/>
                <img class="visible-sm-inline" src="{% static "img/bear-reg-sm.png" %}"/>
                <img class="visible-md-inline" src="{% static "img/bear-reg-md.png" %}"/>
                <img class="visible-lg-inline" src="{% static "img/bear-reg-lg.png" %}"/>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script>
    $(document).ready(function () {
        var animation = new SlrAnimation('#home');
        animation.animateIn($('#home'));
        animation.putGeo('#reg', -1, 0);
        $('#reg').css({left: $(window).width(), top: 0});

        $('.menu-button').click(function () {
          var target = $(this).data('target');
          animation.moveTo(target);
          $('.menu-button').removeClass('active');
          $(this).addClass('active');
        });

        $('#regSubmitBtn').click(function (e) {
          e.preventDefault();
        });
    });
    </script>
  </body>
</html>
