{% load static %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}BlackBox 3.0 Author Panel{% endblock %}</title>
{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}"/>
<link rel="stylesheet" href="{% static "css/author.less" %}" type="text/less"/>
{% endcompress %}
{% compress js %}
<script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
{% endcompress %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
