{% extends "author/base.html" %}

{% block js %}
{{ block.super }}
<script>
function addFileError(msg) {
  var $field = $('#file-field');
  $field.parent().addClass('has-error');
  $field.parent().append(
      $('<p>').addClass('help-block').text(msg)
  );
}

function clearFileErrors() {
  var $field = $('#file-field');
  $field.parent().removeClass('has-error');
  $field.parent().find('.help-block').remove();
}

function showFileError(msg) {
  clearFileErrors();
  addFileError(msg);
}


function addCommonError(msg) {
  var $field = $('#error-box');
  $field.removeClass('disabled');
  $field.append(
      $('<p>').text(msg)
  );
}

function clearCommonErrors() {
  var $field = $('#error-box');
  $field.addClass('disabled');
  $field.children().remove();
  $field.text('');
}

function showCommonError(msg) {
  clearCommonErrors();
  addCommonError(msg);
}


function showProgressBar() {
  var $field = $('#progress-bar');
  $field.parent().removeClass('disabled');
}

function updateProgressBar(percent) {
  var $field = $('#progress-bar');
  $field.attr('aria-valuenow', percent);
  $field.css('width', ''+percent+'%');
  $field.text(''+percent+'%');
}

function hideProgressBar() {
  var $field = $('#progress-bar');
  $field.parent().addClass('disabled');
}
</script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Welcome to BlackBox 3.0 Author Panel</h1>
  <div class="well">
    <h3>Upload your task tarballs here</h3>
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
    <div id="error-box" class="alert alert-danger disabled">
    </div>
    <form id="upload-form" role="form" enctype="multipart/form-data">
      {% csrf_token %}

      {% if form.task_file.errors %}
      <div class="form-group has-error">
        <input id="file-field" type="file" name="{{ form.task_file.name }}"/>
        {% for error in form.task_file.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
      {% else %}
      <div class="form-group">
        <input id="file-field" type="file" name="{{ form.task_file.name }}"/>
      </div>
      {% endif %}

      <div class="progress disabled">
        <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          0%
        </div>
      </div>

      <input id="upload-btn" type="submit" class="btn btn-primary" value="Upload"/>
    </form>
  </div>
  {% for uploaded_task in uploaded_tasks %}
  {% if uploaded_task.is_installed %}
  <div class="info-box bg-success">
    <h4>{{ uploaded_task.path }}</h4>
    <p>OK<p>
  </div>
  {% else %}
  <div class="info-box bg-danger">
    <h4>{{ uploaded_task.get_filename }}</h4>
    {% for status in uploaded_task.status.all %}
    <p>{{ status.message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
</div>
<div class="toolbox">
  <p class="pull-right"><a href="{% url "author-logout" %}">Logout</a></p>
</div>
{% endblock %}

<script>
{% block js_ready %}
$('#upload-btn').click(function (e) {
    e.preventDefault();
    clearFileErrors();
    clearCommonErrors();
    var file_field = $('#file-field').get(0);
    if (file_field.files.length == 0) {
      showFileError('No files specified for upload.');
      return;
    }
    var file = file_field.files[0];
    $.ajax({
      method: 'POST',
      url: '{% url "api-upload-start" %}',
      dataType: 'json',
      data: '',
      success: function (data, stat, xhr) {
        var resp = JSON.parse(xhr.responseText);
        var uploaded_task_pk = resp.uploaded_task_pk;

        var upload_url = '{% url "api-upload" %}?uploaded_task_pk='+uploaded_task_pk;

        xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4) {
            if (xhr.status / 100 != 2) {
              var responseJson = JSON.parse(xhr.responseText);
              for (var key in responseJson) {
                addCommonError(responseJson[key]);
              }
            } else {
              console.log('ok');
            }
          }
          console.log('readyState: ' + xhr.readyState + ', ' +
                      'status: ' + xhr.status);
        };
        xhr.open('PUT', upload_url, true);
        xhr.setRequestHeader(
          'Content-Disposition',
          'attachment; filename=' + file.name
        );
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
        xhr.send(file);

        updateProgressBar(0);
        showProgressBar();
        var progressInterval = setInterval(function () {
            $.ajax({
              method: 'GET',
              url: '{% url "api-upload-progress" %}?uploaded_task_pk='+uploaded_task_pk,
              dataType: 'json',
              data: '',
              success: function (data, stat, xhr) {
                var marks = JSON.parse(xhr.responseText);
                marks.sort(function (a, b) { return a.progress - b.progress; });
                var best = marks.pop();
                updateProgressBar(best.progress);
                if (best.progress == 100) {
                  clearInterval(progressInterval);
                }
              }
            });
        }, 1000);
      },
      error: function (xhr, stat, err) {
        showCommonError(xhr.responseText);
      }
    });
});
{% endblock %}
</script>
